$grid-width: 16;
$grid-height: 10;
$cell-width: 50px;
$cell-height: 50px;

.container {
  max-width: ($grid-width * $cell-width) + $grid-width; // Borders will be removed eventually.
}

input {
  display: inline-block;
}

label {
  display: inline-block;
}

.tab-container {

  display: flex;
  flex-flow: row wrap;

  .tab {
    flex-grow: 1;
    text-align: center;
    border: solid 1px black;
    padding: 5px;
  }
}

.grid {
  width: ($grid-width * $cell-width) + $cell-width; // Include borders - will be removed eventually.
  height: ($grid-height * $cell-height) + $cell-height; // Include borders - will be removed eventually.
  margin-left: auto;
  margin-right: auto;
  font-size: 0px;

  .cell {
    position: relative;
    width: $cell-width;
    height: $cell-height;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    display: inline-block;
    cursor: pointer;
  }
}

.editor {
  .right {
    text-align: right;
  }

  .cell {
    &:hover {
      background: #EEE;
    }
  }
}

.grid-container {
  position: relative;
}

.context-menu {
  position: absolute;
  padding: 10px;
  border: solid 1px black;
  background: #FFF;

  .choice {
    width: 200px;
    &:hover {
      background: #EEE;
      cursor: pointer;
    }
  }
}
