$grid-width: 16;
$grid-height: 10;
$cell-width: 50px;
$cell-height: 50px;

$dark-gray: #333;
$light-gray: #ccc;
$gray: #666;

$light-blue: #63a0d4;
$blue: #337bb8;
$dark-blue: #22537c;

$red: #e53b51;
$blue: #223765;
$green: #3CB371;

$gridbackground: #000;


.container {
  max-width: ($grid-width * $cell-width) + $grid-width; // Borders will be removed eventually.
}

.logo {
  font-family: "Creepster", "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
  font-size: 48px;
  text-align: center;
  color: $red;
}

input {
  display: inline-block;
}

label {
  display: inline-block;
  font-weight: 300;
  margin-right: 10px;
}

p, ol, ul, dl {
  margin-bottom: 1rem;
}
li {
  margin-bottom: .5rem;
}

button.button-primary {
  background-color: $blue;
  border: 2px solid #454545;
}

.tab-container {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 15px;

  .tab {
    flex-grow: 1;
    text-align: center;
    color: $dark-gray;
    background-color: $gray;
    border: solid 1px $dark-gray;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: .9em;
    cursor: pointer;
    max-width: 33%;

    &.active{
      background-color: $red;
      cursor: arrow;
    }
  }
}

.grid {
  margin-left: auto;
  margin-right: auto;
  font-size: 0px;
  background: $gridbackground;

  .cell {
    position: relative;
    width: $cell-width;
    height: $cell-height;
    border-right: solid 1px $gray;
    border-bottom: solid 1px $gray;
    display: inline-block;
    cursor: pointer;

    &.empty {
    }
    &.monster {
      background: $gridbackground url(images/monsters/kraken.png) no-repeat center center;
      background-size: 50px 50px;
    }
    &.wall {
      background: $gridbackground url(images/wall/wall0.png) no-repeat center center;
      background-size: 50px 50px;
    }
    &.staircase {
      background: $gridbackground url(images/staircase.png) no-repeat center center;
      background-size: 50px 50px;
    }
    &.character {
      background: $gridbackground url(images/characters/vitalik.png) no-repeat center center;
      background-size: 50px 50px;
    }
    &.sword {
      background: $gridbackground url(images/items/sword.png) no-repeat center center;
      background-size: 50px 50px;
    }
    &.shield {
      background: $gridbackground url(images/items/shield.png) no-repeat center center;
      background-size: 50px 50px;
    }
    &.potion {
      background: $gridbackground url(images/items/potion.png) no-repeat center center;
      background-size: 50px 50px;
    }
  }
}

#output {
  display: inline-block;
  width: 200px;
  min-height: 500px;
  background-color: #ccc;
}

.editor {
  display: inline-block;
  max-width: 816px;

  .right {
    text-align: right;
  }

  .cell {
    &:hover {
      background-color: rgba(0,255,255,0.5);
    }
  }

  .level_name {
    width: 250px;
    height: 32px;
    color: black;
  }
}

.grid-container {
  position: relative;
}

.context-menu {
  position: absolute;
  padding: 10px;
  border: solid 1px black;
  background: #FFF;
  color: $dark-gray;
  box-shadow: 3px 3px 1px #333;

  .choice {
    width: 200px;
    &:hover {
      background: #EEE;
      cursor: pointer;
    }
  }
}

/*  Player Mode */

.playgrid {
  .four.columns {
    margin-right: 1%;
    margin-left: 1%;
    width: 233;
  }

  dl.infobox {
    border: 1px solid $gray;
    padding: 5px;
    font-size: 0.9em;
    margin: 0 auto 1rem;
    color: $light-gray;
    height: 78px;

    &.your_score {
      color: $green;
    }
    &.opponent_score {
      color: $light-blue;
    }
    &.your_items, .label {
      color: $light-gray;
      overflow-y: scroll;
      overflow: -moz-scrollbars-vertical;
      &::-webkit-scrollbar {
       // -webkit-appearance: none;
        width: 7px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
      }
    }

    .item_row {
      margin-left: 10px;
    }
    .item_stat, .label {
      color: $green;
      margin-left: 20px;
    }
    .label {
      margin-left: 30px;
      &.label_second {
        margin-left: 50px;
      }
    }
    .item_stat {
      margin-left: 50px;
    }
  }

  .four.columns.end {
    float: right;
    margin-right: 0;
    margin-left: 0;
    width: 33%;

    p {
      color: $gray;
      margin-left: 3px;
      .levelname {
        color: $light-gray;
      }
    }

    label, #end_game {
      float: right;
    }
    label {
      line-height: 36px;
      color: $gray;
    }
  }
}

.simple-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.play-outcome-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(239,239,239, 0.8);
  border: 5px solid $red;
  height: 600px;
  width: 700px;
  text-align: center;
  color: $gray;


  .title {
    text-align: center;
    font-size: 60px;
    margin: 20px auto 10px;
    font-family: "Creepster", "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;

    &.win { 
      color: $green;
    }
  }
  .bet_outcome {
    text-transform: uppercase;
    font-size: 18px;
    .ether {
      &.win::after { 
        content: ' won ';
      }
      &.lose::after { 
        content: ' lost ';
      }
    }
    .tofrom {
      &.win::after { 
        content: ' from ';
      }
      &.lose::after { 
        content: ' to ';
      }
    }
    
  }
  .outcome_image {
    &.win {
      background: transparent url(images/outcomes/you_won.gif) no-repeat center center;
      height: 325px;
      width: 340px;
      margin: -50px auto 50px;
    }
    &.lose {
      background: transparent url(images/outcomes/you_lose.png) no-repeat center center;
      height: 400px;
      width: 640px;
      margin: -30px auto 0;
    }
  }
}

.wizard-screen {
  border: solid 5px $red;
  background: #efefef;
  color: $gray;
  box-shadow: 5px 5px 2px black;
  text-align: center;

  &.hidden {
    display: none;
  }

  .title {
    font-size: 32px;
    color: $red;
    margin: 20px auto;
    font-weight: 700;
  }
  .subtitle {
    font-weight: 300;
    color: $gray;
    font-size: 18px;
    margin-bottom: 5px;
  }
  .choose-character {
    margin: 40px auto 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    color: $gray;
  }

  ul.characters {
    margin-top: 40px;
    margin-bottom: 30px;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 50px 10px;
      text-transform: uppercase;
      font-weight: 400;
    }

    .smallphoto {
      width: 50px;
      height: 50px;
      box-shadow: 2px 2px 1px #666;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      border: 10px solid transparent;
      cursor: pointer;

      &.nick {
        background: #666 url(images/characters/szabo.png) no-repeat center center;
        background-size: 50px 50px;
        color: $light-blue;
      }
      &.vitalik {
        background: #666 url(images/characters/vitalik.png) no-repeat center center;
        background-size: 50px 50px;
      }
      &.satoshi {
        background: #666 url(images/characters/satoshi.png) no-repeat center center;
      }

      &.active {
        background-color: $light-blue;
        border: 10px solid $light-blue;
        color: $light-blue
      }
    }
  }

  .paragraph {
    font-weight: 400;
    text-transform: uppercase;
    color: $gray;

    .bolder {
      font-weight: 700;
    }
  }

  .play {
    padding-top: 10px;
    font-size: 48px;
    color: $red;
    margin: 10px auto;
    font-family: "Creepster", "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
  }
  p.err {
    color: $red;
    margin-top: 0;
  }

  select {
    width: 200px;
  }
}


/* Bet Tab */

.bet {

  .tab-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: $red;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  td, th {
    text-align: center;
    padding: 8px 15px;

    &.game_id, &.player_id {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 80px;
      cursor: pointer;
    }
  }

  input[type="number"] {
    height: 32px;
    margin-bottom: 10px;
    width: 100px;
  }

  .simple-modal {
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    background-color: #ccc;
    color: #333;
    font-size: .9em;
  }
}



/* Blinking */

$blink_duration: .8s;

.blink_me {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: $blink_duration;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: $blink_duration;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: $blink_duration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
